<br> <center><h1>Kiatu<h1></center> <br>

<center></h3>Go on add a new brand or store</h3><center>

<a href="/kiatu_brand_form">Click here to Add a New Shoe Brand</a>

<a href="/kiatu_store_form">Click here to Add a New Shoe Store</a>

<center><h3>Use these links to view added store or brands</h3></center>

<a href="/kiatu_brands">View All Brands</a>

<a href="/kiatu_stores">View All Stores</a>