<br> <center><h1>Kiatu<h1></center> <br>

<center><h3>Go on add a new brand or store</h3><center> <br>

<center><a href="/kiatu_brand_form">Click here to Add a New Shoe Brand</a></center> <br>

<center><a href="/kiatu_store_form">Click here to Add a New Shoe Store</a></center> <br>

<center><h3>View your added stores or brands</h3></center> <br>

<center><a href="/kiatu_brands">View All Brands</a></center> <br>

<center><a href="/kiatu_stores">View All Stores</a></center> <br>