<center><h1>Available brands:</h1></center>

<% if @kiatu_brands.any?() %>
    <center><h3>Here's a list of all your saved brands:</h3></center> <br>

    <ul>
      <% @kiatu_brands.each() do |kiatu_brand| %>
        <li><%= kiatu_brand.name() %></li>
      <% end%>
    </ul>

<% else %>
    <center><h3>No brands have been added yet</h3></center>
<% end %>
