<center><h1>Add Your New Store Name</h1></center>

<form-action="/kiatu_stores" method="post">

<label for="stores-form">Type your store name here:</label>

<input id="name" name="name" class="form-control" type="text"> <br>

<button type="submit" class="btn-success">Add New Store Name</button>
</form>