<center><h1>Add Your New Brand</h1></center>

<h3>Fill in this form to add your new kiatu brand</h3>

<form-action="/kiatu_brands" method="post">

<label for="brands-form">Type your brand name here</label>

<input id="name" name="name" class="form-control" type="text"> <br>

<button type="submit" class="btn-success">Add New Store</button>
</form>