<center><h1>Available stores:</h1></center>

<% if @kiatu_stores.any?() %>
    <center><h3>Here's a list of all your saved stores:</h3></center> <br>

    <ul>
      <% @kiatu_stores.each() do |kiatu_store| %>
        <li><%= kiatu_store.name() %></li>
      <% end%>
    </ul>

<% else %>
    <center><h3>No stores have been added yet</h3></center>
<% end %>

