<center><h1>Add Your New Store</h1></center>

<h3>Fill in this form to add your new kiatu store</h3>

<form-action="/kiatu_stores" method="post">

<label for="stores-form">Type your store name here</label>

<input id="name" name="name" class="form-control" type="text"> <br>

<button type="submit" class="btn-success">Add New Form</button>
</form>