<center><h1>Add Your New Shoe Brand Name</h1></center> <br>

<form-action="/kiatu_brands" method="post">

<label for="brands-form">Type your brand name here:</label>

<input id="name" name="name" class="form-control" type="text"> <br>

<button type="submit" class="btn-success">Add New Brand Name</button>
</form>